@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mrs+Sheppards&display=swap');

.mrs-sheppards-regular {
    font-family: "Mrs Sheppards", cursive;
    font-weight: 500;
    font-style: normal;
  }